<div id="view1"></div>

<script type="text/javascript">
  // TODO fix overlap when author names are long
  const spec1 = {
    "$schema": "https://vega.github.io/schema/vega/v3.0.json",
    "width": 900,
    "height": 200,
    "padding": 5,

    "data": [
      {
        "name": "table",
        "url": "http://localhost:3000/api/authors_by_num_publications?top=10&venue=arXiv"
      }
    ],

    "signals": [
      {
        "name": "tooltip",
        "value": {},
        "on": [
          {"events": "rect:mouseover", "update": "datum"},
          {"events": "rect:mouseout",  "update": "{}"}
        ]
      }
    ],

    "scales": [
      {
        "name": "xscale",
        "type": "band",
        "domain": {"data": "table", "field": "author"},
        "range": "width",
        "padding": 0.05,
        "round": true
      },
      {
        "name": "yscale",
        "domain": {"data": "table", "field": "num_publications"},
        "nice": true,
        "range": "height"
      }
    ],

    "axes": [
      {"orient": "bottom", "scale": "xscale"},
      {"orient": "left", "scale": "yscale"}
    ],

    "marks": [
      {
        "type": "rect",
        "from": {"data":"table"},
        "encode": {
          "enter": {
            "x": {"scale": "xscale", "field": "author"},
            "width": {"scale": "xscale", "band": 1},
            "y": {"scale": "yscale", "field": "num_publications"},
            "y2": {"scale": "yscale", "value": 0}
          },
          "update": {
            "fill": {"value": "steelblue"}
          },
          "hover": {
            "fill": {"value": "red"}
          }
        }
      },
      {
        "type": "text",
        "encode": {
          "enter": {
            "align": {"value": "center"},
            "baseline": {"value": "bottom"},
            "fill": {"value": "#333"}
          },
          "update": {
            "x": {"scale": "xscale", "signal": "tooltip.author", "band": 0.5},
            "y": {"scale": "yscale", "signal": "tooltip.num_publications", "offset": -2},
            "text": {"signal": "tooltip.num_publications"},
            "fillOpacity": [
              {"test": "datum === tooltip", "value": 0},
              {"value": 1}
            ]
          }
        }
      }
    ]
  };

  vega.embed("#view1", spec1, vegaOptions);
</script>
